
<div id="commentBox">
  <%= comment.body %>   <br/>
  <p class="author">Autor: <%= comment.author %></p>
  <p class="date">Added: <%= comment.created_at %></p>
  <p class="l links">
     <%= link_to "Delete", [@fortune, comment], :confirm => t('helpers.data.sure'), :method => :delete %>
     <%= link_to 'Edit', edit_fortune_comment_path(@fortune, comment) %>
  </p>
</div>
<p>



</p>




