
<p id="notice"><%= notice %></p>

<p><%= @fortune.body %> </p>

<p class="author"><b>Author: </b><%= @fortune.author %></p>

<%= ratings_for @fortune, :remote => true  %>

<% if @fortune.comments.any? %>
  <h2>Comments</h2>
  <%= render :partial => 'comments/comment', :collection => @fortune.comments %>
<% end %>

<h2>Add new comment</h2>
<p><%= render :partial => 'comments/form' %></p>
<p >
    <div class="links">
        <%= link_to 'Edit', edit_fortune_path(@fortune) %> |
        <%= link_to 'Back', fortunes_path %>
    </div>
</p>
